# Google Sheets Integration
GOOGLE_SHEETS_ID=1_XWf2SDWptGWhcSO4rKiTiqx1W9QQ5neJMpZRmW7T4Y
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APP_URL=https://ais-dev-psianrh5kaxlzwmkjutgrq-51839363323.asia-southeast1.run.app
GEMINI_API_KEY=
API_KEY=
